<% title "Активность работников" %>

<ul class="tabs" data-tabs="tabs">
  <li class="active"><%= link_to "Самые активные", "#mostActive" %></li>
  <li><%= link_to "Наименее активные", "#leastActive" %></li>
</ul>

<div class="tab-content">
  <div id="mostActive" class="tab-pane active"></div>
  <div id="leastActive" class="tab-pane"></div>
</div>

<script type="text/javascript">
    $().ready(function() {

        function buildChart(data) {
            var sizeStatisticsChart = new FusionCharts("/charts/Column3D.swf", "chart_id", "940", "400", "0", "1");
            sizeStatisticsChart.setXMLData(data);
            sizeStatisticsChart.render("mostActive");
        }

        function obtainData() {
            var url = "/ajax/java_url_data?"
                    + "method=extremumActivity" + "&"
                    + "extremumType=mostActive";
            $.ajax({
                type: "GET",
                url: url,
                success: function(response) {
                    buildChart(response);
                }
            });
        }

        obtainData();

    });
</script>

<script type="text/javascript">
    $().ready(function() {

        function buildChart(data) {
            var sizeStatisticsChart = new FusionCharts("/charts/Column3D.swf", "chart_id", "940", "400", "0", "1");
            sizeStatisticsChart.setXMLData(data);
            sizeStatisticsChart.render("leastActive");
        }

        function obtainData() {
            var url = "/ajax/java_url_data?"
                    + "method=extremumActivity" + "&"
                    + "extremumType=leastActive";
            $.ajax({
                type: "GET",
                url: url,
                success: function(response) {
                    buildChart(response);
                }
            });
        }

        obtainData();

    });
</script>
