<% title t(:users_enroll_statistics) %>

<%= t(:users_enroll_statistices_filter) %>:
<%= text_field_tag "startDate", User.minimum("created_at").year, :placeholder => 'Enter start date...' %>
&nbsp;-&nbsp;
<%= text_field_tag "endDate", User.maximum("created_at").year, :placeholder => 'Enter end date...' %>
<hr>

<div id="enrollment_chart"></div>

<script type="text/javascript">
    $().ready(function() {

        function buildChart(data) {
            var enrollmentChart = new FusionCharts("/charts/Line.swf", "chart_id", "940", "400", "0", "1");
            enrollmentChart.setXMLData(data);
            enrollmentChart.render("enrollment_chart");
        }

        function obtainData() {
            var url = "/ajax/java_url_data?"
                    + "method=userActivities" + "&"
                    + "excipient=enrollmentStatistics" + "&"
                    + "startDate=" + $("input#startDate").val() + "&"
                    + "endDate=" + $("input#endDate").val()
            $.ajax({
                type: "GET",
                url: url,
                success: function(response) {
                    buildChart(response);
                }
            });
        }

        obtainData();

        $("input#startDate").change(function() {
            obtainData();
        });
        $("input#endDate").change(function() {
            obtainData();
        });

    });
</script>